<h1 mat-dialog-title>Add project member</h1>
<div mat-dialog-content>
  <form [formGroup]="addMemberForm">
  <mat-form-field>
    <mat-label>First Name:</mat-label>
    <input matInput formControlName="firstName" placeholder="First Name" name=firstName class="form-control"
           id="firstName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name:</mat-label>
    <input matInput formControlName="lastName" placeholder="First Name" name=lastName class="form-control"
           id="lastName">
  </mat-form-field>

  <mat-form-field color="primary">
    <mat-select placeholder="Add project" formControlName="project">
      <mat-option value="primary" *ngFor="let project of projects">{{project.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>OK</button>
</div>
