<h2>My Projects</h2>
<ul class="projects">
  <li *ngFor="let project of dataSource"
      [class.selected]="project === selectedProject"
      (click)="onSelectProject(project)">
    <span class="badge">{{project.id}}</span> {{project.name}}
  </li>
</ul>

<div *ngIf="selectedProject">

  <h2>{{selectedProject.name | uppercase}} Members </h2>

  <ul class="projects">
    <li *ngFor="let member of selectedProject.members"
        [class.selected]="member === selectedMember"
        (click)="onSelectMember(member)">
      <span class="badge">{{member.id}}</span>
      <a [routerLink]="['/dashboard/timesheet/', selectedProject.id, member.id]">{{ member.firstName}} {{ member.lastName}}</a>
    </li>
  </ul>
</div>
<div *ngIf="selectedMember">
<app-template> </app-template>
</div>


