<mat-card class="round-card">
  <mat-card-header>
    <mat-card-title>Work packages</mat-card-title>

  </mat-card-header>
  <mat-card-content>

    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Work package name" [formControl]="workPackageName">
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="addWorkPackage()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-accordion>
      <div *ngFor="let workPackage of workPackages">
        <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{workPackage.name}}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style="display: inline-block">

            <mat-form-field>
              <mat-label>Task description</mat-label>
              <input matInput placeholder="Task description" [formControl]="taskDescription">
            </mat-form-field>
            <button mat-icon-button color="primary" (click)="addTask(workPackage)">
              <mat-icon>add</mat-icon>
            </button>

            <div *ngFor="let task of workPackage.tasks">
              {{task.description}}
              <button mat-icon-button color="primary" (click)="deleteTask(task.id)">
                <mat-icon class="close-icon">close</mat-icon>
              </button>
            </div>


          </div>

          <div style="display: inline-block">
            <mat-form-field floatLabel="auto">
              <mat-label>Intellectual output</mat-label>
              <input matInput placeholder="Intellectual output" [formControl]="intellectualOutput">
            </mat-form-field>

            <button mat-icon-button color="primary" (click)="addOutput(workPackage)">
              <mat-icon>add</mat-icon>
            </button>
            <div *ngFor="let output of workPackage.outputs">
              {{output.description}}
              <button mat-icon-button color="primary" (click)="deleteOutput(output.id)">
                <mat-icon class="close-icon">close</mat-icon>
              </button>

            </div>

          </div>

        </mat-expansion-panel>

      </div>
    </mat-accordion>
  </mat-card-content>
</mat-card>

