:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  flex-direction: column;
}

.icon-label {
  font-size: 10px;
}
.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}

.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.mat-sidenav-container {
  height: 100%;
}

$crm-toolbar-title-padding: 16px !default;

.toolbar-title {
  margin: 0 $crm-toolbar-title-padding 0 $crm-toolbar-title-padding;
}

.icon {
  padding: 0 14px;
}

.matListIcon {
  font-size: 40px !important;
}
