<mat-toolbar color="accent" class="crm-navigation-bar">

  <mat-toolbar-row>
    <button mat-icon-button>
      <img src="../../assets/logo-v3-round.png" class="logo">
    </button>
    <span class="toolbar-title"> {{'TIMESHEETS'}}</span>
    <span class="spacer"></span>

    <div *ngIf="isAuthenticated()">

      <button mat-icon-button [matMenuTriggerFor]="auth">
        <mat-icon class="icon">person_outline</mat-icon>
      </button>
      <span> {{getLoggedUser()}}</span>
      <mat-menu #auth="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon class="icon">exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar-row>

</mat-toolbar>


<mat-sidenav-container autosize>

  <mat-sidenav #sidenav mode="side" opened="true" *ngIf="isAuthenticated()">

    <mat-nav-list>

      <a *ngFor="let item of routes"
         mat-list-item
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [class.list-item-active]="routerLinkActiveInstance.isActive"
         [routerLink]="[item.route]">

        <mat-icon matListIcon color="accent"> {{ item.icon }} </mat-icon>
        <span class="icon-label">{{item.title}} </span>
        <mat-divider></mat-divider>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
