<mat-toolbar color="primary" class="crm-navigation-bar">

  <mat-toolbar-row>
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title"> {{ 'FINKI_TIMESHEETS'}}</span>
    <span class="spacer"></span>

    <div *ngIf="isAuthenticated()">
      <button mat-icon-button>
        <mat-icon class="example-icon">settings</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon class="example-icon">help_outline</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="auth">
        <mat-icon class="example-icon">person_outline</mat-icon>
      </button>
      <span> {{getLoggedUser()}}</span>
      <mat-menu #auth="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon class="example-icon">exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar-row>

</mat-toolbar>


<mat-sidenav-container autosize>

  <mat-sidenav #sidenav mode="side" opened="true">

    <mat-nav-list>
      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a *ngFor="let item of myWorkRoutes"
         mat-list-item
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [class.list-item-active]="routerLinkActiveInstance.isActive"
         [routerLink]="[item.route]">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        <span *ngIf="!isExpanded"> &nbsp; {{item.title}} </span>
      </a>

      <mat-divider></mat-divider>

      <a *ngFor="let item of managementRoutes"
         mat-list-item
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [class.list-item-active]="routerLinkActiveInstance.isActive"
         [routerLink]="[item.route]">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        <span *ngIf="!isExpanded"> &nbsp; {{item.title}} </span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
