.container {
  display: flex;
  direction: ltr;
}


.item {
  flex-grow: 2
}

table {
  width: 100%;
}

.templates {
  display: flex;
  align-content: flex-end;
}

::ng-deep.special-date {
  background-color: #4286f4;
  border-radius: 50%;
}

mat-form-field.mat-form-field {
  font-size: 10px;
  width: 180px;
}

tr.mat-footer-row {
  font-weight: bold;
}
