.container {
  display: flex;
  direction: ltr;
}

.space-container {
  display: flex;
  justify-content: space-around;
}

.item {
  flex-grow: 2
}

table {
  width: 100%;
}

.templates {
  display: flex;
  align-content: flex-end;
}

::ng-deep.special-date {
  background-color: dodgerblue;
  border-radius: 50%;
}

mat-form-field.mat-form-field {
  font-size: 10px;
  width: 180px;
}
