.container {
  display: flex;
  direction: ltr;
}
.item {
  flex-grow: 2
}

table {
  width: 100%;
}

mat-divider{
  padding: 10px;
}
.templates{
  display: flex;
  align-content: flex-end;
}

::ng-deep.special-date {
  background-color: dodgerblue;
  border-radius: 50%;
}
