<mat-card-title>{{"MY_PROJECTS" | translate}}</mat-card-title>

<mat-form-field>
  <input matInput placeholder="Search projects" type="text" [(ngModel)]="searchProject">
</mat-form-field>

<ul class="projects">
  <li *ngFor="let project of projects | filter:searchProject"
      [class.selected]="project === selectedProject"
      (click)="onSelectProject(project)">
    <span class="badge">{{project.id}}</span> {{project.name}}
  </li>
</ul>

<div *ngIf="selectedProject">
  <mat-card-title>{{selectedProject.name | uppercase}} Members</mat-card-title>

  <mat-form-field>
    <input matInput placeholder="Search members" type="text" [(ngModel)]="searchMember">
    <button mat-fab matSuffix color="primary" (click)="addMemberDialog()">+</button>
  </mat-form-field>
  <ul class="projects">
    <li *ngFor="let member of selectedProject.members | filter:searchMember"
        [class.selected]="member === selectedMember"
        (click)="onSelectMember(member)">
      <span class="badge">{{member.id}}</span>
      <a
        [routerLink]="['/dashboard/timesheet/project',selectedProject.id,'member', member.id]">{{ member.firstName}} {{ member.lastName}}</a>
    </li>
  </ul>
  <app-template></app-template>
</div>


